---
import '../styles/base.css';
interface Props {
    title?: string;
    description?: string;
}

const title = Astro.props.title
    ? `${Astro.props.title} | Dereck Pavez`
    : "Dereck Pavez";

const description = Astro.props.description
    ? Astro.props.description
    : "Desarrollador de software con 4 años de experiencia en tecnologías como React, React Native, Next.js, PHP, Laravel, Firebase y AWS. Experto en arquitecturas y desarrollo full-stack con un enfoque en soluciones escalables y optimización de procesos";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Dereck Pavez" />
        <meta name="description" content={description} />
        <meta
            name="keywords"
            content="Desarrollador de software, full-stack, React, Next.js, PHP, Laravel, Firebase, AWS, arquitecturas limpias, APIs, microservicios, desarrollo web, soluciones escalables, portafolio profesional."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="dark:bg-slate-950 flex justify-center">
        <div class="max-w-screen-xl">
            <slot />
        </div>
    </body>
</html>